<section class="footer">
    <div class="colum">
        <ul>
            <li>
                <h2>Exclusive</h2>
            </li>
            <li>
                <h3>Subscribe</h3>
            </li>
            <li>
                <p>Get 10% off your first order</p>

            </li>
            <li>
                <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-send" />
                    <input type="text" pInputText placeholder="Enter your email" class="pesquisa" />
                </p-iconField>
            </li>
        </ul>
    </div>
    <div class="colum">
        <ul>
            <li>
                <h2>Support</h2>
            </li>
            <li>
                <h3>111 Bijoy sarani, Dhaka,<br> DH 1515, Bangladesh.</h3>
            </li>
            <li>
                <p>exclusivegmail.com</p>
            </li>
            <li>
                <p>+88015-88888-9999</p>
            </li>
        </ul>
    </div>
    <div class="colum">
        <ul>
            <li>
                <h2>Account</h2>
            </li>
            <li>
                <P>My Account</P>
            </li>
            <li>
                <p>Login / Register</p>
            </li>
            <li>
                <p>Cart</p>
            </li>
            <li>
                <p>Wishlist</p>
            </li>
            <li>
                <p>Shop</p>
            </li>
        </ul>
    </div>
    <div class="colum">
        <ul>
            <li>
                <h2>Quick Link</h2>
            </li>
            <li>
                <P>Privacy Policy</P>
            </li>
            <li>
                <p>Terms Of Use</p>
            </li>
            <li>
                <p>FAQ</p>
            </li>
            <li>
                <p>Contact</p>
            </li>
        </ul>
    </div>
    <div class="colum">
    <ul>
        <li>
            <h2>Download App</h2>
        </li>
        <li>
            <p>Save $3 with App New User Only</p>
        </li>
        <li>
            <div class="container">
                <img src="assets/qr-code.png" alt="">
                <div>
                    <img src="assets/GooglePlay.png" alt="">
                    <img src="assets/AppStore.png" alt="">
                </div>
            </div>
        </li>
        <!-- Corrigir aqui -->
        <li>
            <div class="links">
                <ul class="links-list">
                    <li><img src="assets/facebook.png" alt=""></li>
                    <li><img src="assets/twitter.png" alt=""></li>
                    <li><img src="assets/instagram.png" alt=""></li>
                    <li><img src="assets/linkedin.png" alt=""></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</section>