<div class="top">
  <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
  <a href="">Shop Now</a>
</div>
<div class="card">
  <p-toolbar
    class="custom-toolbar"
    [style]="{
      background: 'none',
      border: 'none',
      height: '80px',
      padding: '0 10vw'
    }"
  >
    <div class="p-toolbar-group-start">
      <h1>Exclusive</h1>
    </div>

    <div class="p-toolbar-group-center">
      <a href="">Home</a>
      <a href="">Contact</a>
      <a href="">About</a>
      <a href="">Sign Up</a>
    </div>

    <div class="p-toolbar-group-end">
      <span class="p-input-icon-right">
        <input type="text" pInputText placeholder="What are you looking for?" class="pesquisa" />
        <i class="pi pi-search"></i>
      </span>
    </div>
    <app-drop-down></app-drop-down>
  </p-toolbar>
  <p-divider />
</div>
