<h2 class="title-carrossel">{{ categoria }}</h2>
<p-carousel
  class="app-carrossel"
  [value]="products ?? []"
  [numVisible]="4"
  [numScroll]="4"
  circular="true"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-product pTemplate="item">
    <div class="card">
      <div class="mb-3">
        <div class="relative mx-auto">
          <img src="{{ product.image }}" [alt]="product.title" class="w-full border-round" />
        </div>
      </div>
      <div class="title-container" (click)="onProductClick(product)">
        {{ product.title | truncate }}
      </div>
      <div class="actions">
        <div class="price-custom">
          {{ product.price | currency : "BRL" : "symbol" : "1.2-2" }}
        </div>
        <span>
          <app-rating [value]="product.rating.rate" [count]="product.rating.count"></app-rating>
        </span>
      </div>
    </div>
  </ng-template>
</p-carousel>
