<div *ngIf="product" class="product__container">
  <p-galleria [value]="images" [containerStyle]="" [numVisible]="4" [thumbnailsPosition]="'left'">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.itemImageSrc" class="product__image" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <img [src]="item.thumbnailImageSrc" class="product__thumbnail" />
    </ng-template>
  </p-galleria>
  <div class="product__details">
    <h1 class="product__title">{{ product.title }}</h1>
    <div class="product__reviews">
      <app-rating [value]="product.rating.rate" [count]="product.rating.count" [reviews]="true"></app-rating>
      <div class="product__stock">
        <p>|</p>
        <p green>In-Stock</p>
      </div>
    </div>
    <h2 class="product__price">R$ {{ product.price | number : "1.2-2" }}</h2>
    <h2 class="product__description">{{ product.description }}</h2>
    <div class="divider"></div>
    <form [formGroup]="productForm" class="product__form" (ngSubmit)="submitForm()">
      <div class="product__form-colors">
        <p>Colours:</p>
        <p-radioButton [value]="'red'" formControlName="color" class="product__color-red" />
        <p-radioButton [value]="'blue'" formControlName="color" class="product__color-blue" />
      </div>
      <p-button type="submit" [disabled]="isInvalid(productForm)" severity="danger" raised="true">Buy Now</p-button>
    </form>
  </div>
</div>
