.mr-2 {
  margin-right: 0 !important;
}

.user-icon {
  cursor: pointer;
  position: relative;
}

.p-avatar.p-avatar-circle {
  width: 32px;
  height: 32px;
}

.dropdown-menu {
  width: 224px;
  height: 208px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);

  position: absolute;
  left: -224px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  gap: 16px;
}
