.home__container {
  height: calc(100vh - 142px);
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-rating .p-rating-icon {
  color: gold;
}

:host ::ng-deep .p-rating .star-partial {
  stroke: gold;
  stroke-width: 1px;
  // fill: url(#starPartialFill);
}
