:host ::ng-deep .p-rating .p-rating-icon {
  color: gold;
}

:host ::ng-deep .p-rating .star-partial {
  stroke: gold;
  stroke-width: 1px;
}

.rating__container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating__count {
  text-wrap: nowrap;
}
